/* style pour le formulaire */
.form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  /* style pour le titre */
  .h1  {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  /* style pour le label */
  .label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  /* style pour l'input */
  .input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  /* style pour le bouton */
  .button  {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }

   .body {
            display: flex;
            justify-content: center;
            align-items: center;
            
        }    
    .container {
        display: flex;
        align-items: center;
    }

    .img {
        width: 150px;
        height: auto;
        margin-right: 10px;
    }

    .line {
        border-left: 2px solid black;
        height: 50px;
        margin: 0 10px;
    }

    .contact {
        font-size: 24px;
    }
